<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>BBS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/customer.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/customer.css" rel="stylesheet">
  </head>
  <body>
  
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Main</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li class="active"><a href="/registerdetail/{{ud.user}}/">Detail</a></li>
              <li><a href="/user_bbs/{{ud.user}}/">BBS</a></li>
              <li><a href="/user_comments/{{ud.user}}/">Comments</a></li>
             
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">onlines<span class="caret"></span></a>
            <ul class="dropdown-menu" id="onlineusers">
             {%for user in onlineusers%}
                  <li><a href="/chatwith/{{user}}/">{{user}}</a></li>
              {%endfor%}
            </ul>
                </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">{{information.username}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
             
                  <li><a href="/loginout">{{information.action1}}</a></li>
                  <li><a href="/registerdetail">{{information.action2}}</a></li>
            </ul>
                </li>
          </ul>
          </div>
        </div>
      </nav>
      <div class="">
       {%block page-content%}
      
       {%endblock%}
      </div>
    </div> 
  </body>
</html>